.searchbar {
    display: flex;
    justify-content: center;
    margin: 30px 10px 0px 5px ;
}

.customButton {
    text-transform: none !important;
    margin-left: 10px !important;
    height: 38px;
    background-color: brown !important;
}