.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 20px 10px ;
}

.customButton {
    text-transform: none !important;
    margin: 10px !important;
    height: 38px;
    background-color: brown !important;
}